parameters:
    paths:
        - app
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    excludePaths:
        - %currentWorkingDirectory%/app/Providers/*
    ignoreErrors:
        - '#Access to an undefined property App\\Http\\Requests\\.*::\$.+#'
        - '#Access to an undefined property App\\Models\\.*::\$.+#'
        - '#Call to an undefined method App\\Models\\.*::.*#'
        - '#Call to an undefined static method App\\Models\\.*::.*#'
        - '#Call to an undefined method Illuminate\\.*::.*#'
        - '#Call to an undefined static method Illuminate\\.*::.*#'
